%article
  %h1 Privacy Policy
  %p This was also stolen from AirBnB
  %p
    %strong Last Updated: March 29, 2016

  %p
    OccupyBnB (hereinafter referred to as “OccupyBnB”, “we”, “us” or “our”) operates a platform and community marketplace that helps people form offline experiences and relationships directly with one another, where they can create, list, discover and book unique accommodations around the world, whether through our website or our mobile applications (“Platform”).

  %p
    OccupyBnB refers to OccupyBnB, Inc. if you reside in the USA, and to OccupyBnB Ireland if you reside outside of the USA. OccupyBnB Payments, Inc. is a subsidiary of OccupyBnB, Inc. that processes payments for guests and hosts residing in the USA; OccupyBnB Payments UK Ltd. similarly handles such payments for guests and hosts residing outside of the USA. OccupyBnB Payments, Inc. and OccupyBnB Payments UK Ltd. (collectively, “OccupyBnB Payments”) are responsible for processing your Personal Information in connection with payments services related to use of the OccupyBnB Platform.

  %p
    This Privacy Policy is intended to inform you about how we treat Personal Information that we process about you. If you do not agree to any part of this Privacy Policy, then we cannot provide the Platform or Services to you, and you should stop accessing the Platform and deactivate your OccupyBnB Account. You can find out more about how to deactivate your OccupyBnB Account at www.airbnb.com/help.

  %h2 DEFINITIONS

  %p
    Where the definition of a term does not appear in this Privacy Policy (such as “Listing”, “Accommodation”, “Content,” “Services” etc.), it shall be given its definition as outlined in our Terms of Service.

  %p
    “Affiliates” means companies related by common ownership or control. They can be financial and non-financial companies.

  %p 
    “Aggregated Information” means information about all of our users or specific groups or categories of users that we combine together so that it no longer identifies or references an individual user.

  %p
    “Data Controller” means OccupyBnB, the company responsible for the use and processing of Personal Information.

  %p
    “Third Parties” means companies or persons not related by common ownership or control (i.e. non-affiliates) or other unrelated individuals. Third Parties can be financial and non-financial companies, or persons other than you and OccupyBnB.

  %p
    “Personal Information” means information (which may include sensitive information) relating to a living individual who is or can be identified either from that information or from that information in conjunction with other information that is in, or is likely to come into, the possession of the Data Controller.

  %h2 WHAT TYPES OF INFORMATION DOES AIRBNB GATHER ABOUT ITS USERS?

  %p
    Information that you give us
  %p
    We receive, store and process information, including Personal Information, that you make available to us when accessing or using our Platform and Services. Examples include when you: 
  %ul
    %li fill in any form on the Platform, such as when you register or update the details of your user account, or when you supply ID and other verification information;
    %li access or use the Platform, such as to search for or post Accommodations, make or accept bookings, pay for Accommodations, book or pay for any associated services that may be available (such as but not limited to cleaning), post comments or reviews, or communicate with other users;
    %li link your account on a Third-Party site (e.g. Facebook) to your OccupyBnB Account, in which case we will obtain the Personal Information that you have provided to the Third-Party site, to the extent allowed by your settings with the Third-Party site and authorized by you;
    %li communicate with OccupyBnB; and
    %li share information with another Member.
    %li Information we get from your use of our Platform
    %li We also receive, store and process information, possibly including Personal Information, when you access or use our Platform and Services, including but not limited to:
    %li Mobile Data

  %p
    When you use certain features of the Platform, in particular our mobile applications we may receive, store and process different types of information about your location, including general information (e.g. IP address, zip code) and more specific information (e.g. GPS-based functionality on mobile devices used to access the Platform or specific features of the platform). If you access the Platform through a mobile device and you do not want your device to provide us with location-tracking information, you can disable the GPS or other location-tracking functions on your device, provided your device allows you to do this. See your device manufacturer’s instructions for further details.
