%article
  %h1 Terms of Service

  %p
    These have been stolen from AirBnB for the sake of illustration (sorry).
  %p
    IF YOU RESIDE IN THE UNITED STATES, PLEASE NOTE: SECTION 34 OF THESE TERMS OF SERVICE CONTAINS AN ARBITRATION CLAUSE AND CLASS ACTION WAIVER. IT AFFECTS HOW DISPUTES WITH AIRBNB ARE RESOLVED. BY ACCEPTING THESE TERMS OF SERVICE, YOU AGREE TO BE BOUND BY THIS ARBITRATION PROVISION. PLEASE READ IT CAREFULLY.

  %p
    PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES, AND OBLIGATIONS TO COMPLY WITH APPLICABLE LAWS AND REGULATIONS.

  %p
    IN PARTICULAR, HOSTS SHOULD UNDERSTAND HOW THE LAWS WORK IN THEIR RESPECTIVE CITIES. SOME CITIES HAVE LAWS THAT RESTRICT THEIR ABILITY TO HOST PAYING GUESTS FOR SHORT PERIODS. THESE LAWS ARE OFTEN PART OF A CITY'S ZONING OR ADMINISTRATIVE CODES. IN MANY CITIES, HOSTS MUST REGISTER, GET A PERMIT, OR OBTAIN A LICENSE BEFORE LISTING A PROPERTY OR ACCEPTING GUESTS. CERTAIN TYPES OF SHORT-TERM BOOKINGS MAY BE PROHIBITED ALTOGETHER. LOCAL GOVERNMENTS VARY GREATLY IN HOW THEY ENFORCE THESE LAWS. PENALTIES MAY INCLUDE FINES OR OTHER ENFORCEMENT. HOSTS SHOULD REVIEW LOCAL LAWS BEFORE LISTING A SPACE ON AIRBNB.

  %p
    %strong Last Updated: March 29, 2016

  %h2 Key Terms

  %p
    OccupyBnB provides an online platform that connects hosts who have accommodations to rent with guests seeking to rent such accommodations(collectively, the "Services"), which Services are accessible at www.airbnb.com and any other websites through which OccupyBnB makes the Services available (collectively, the "Site") and as applications for mobile, tablet and other smart devices and application program interfaces (collectively, the "Application").

  %p
    If you are using the Site, Application or Services and you reside in the USA, these Terms of Service are between you and OccupyBnB, Inc. If you reside outside of the USA, these Terms of Service are between you and OccupyBnB Ireland. If you initially reside in the USA and contract with OccupyBnB, Inc., but subsequently change your residence to outside of the USA, you will contract with OccupyBnB Ireland from the date on which your place of residence changes, and vice versa. (OccupyBnB, Inc. and OccupyBnB Ireland are each hereinafter referred to as "OccupyBnB", "we", "us", or "our"). OccupyBnB Payments, Inc. and OccupyBnB Payments UK Ltd. (individually and collectively, as appropriate, "OccupyBnB Payments") handle any and all payments and payouts conducted through or in connection with the Site, Application or Services ("Payment Services"). Payment Services provided by OccupyBnB Payments are subject to the Payments Terms of Service ("Payments Terms").is available via the "Hosting" section of the Site, Application and Services.

