@mixin anchor-text($colour) {
  a:link, a:visited, a:hover, a:active { 
    color: $colour !important;
  }
}

@font-face {
  font-family: 'circledN';
  src:  asset-url('circledN/circledN.eot?41l2mg');
  src:  asset-url('circledN/circledN.eot?41l2mg#iefix') format('embedded-opentype'),
	asset-url('circledN/circledN.ttf?41l2mg') format('truetype'),
	asset-url('circledN/circledN.woff?41l2mg') format('woff'),
	asset-url('circledN/circledN.svg?41l2mg#circledN') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon-CircledN {
  visibility: hidden;
  font-size: 2px;
  font-style: normal;
}

.icon-CircledN:before {
  content: "\e900";
  visibility: visible;
  font-family: circledN !important;
}

#main-logo {
  color: $primary-colour;
  font-size: 6rem;
  top: 0;
  line-height: 30rem;
  .icon-CircledN:before {
    font-size: 6rem;
  }
  span {
    background-color: #fff;
    border-radius: 13%;
  }
}

.text-centre {
  text-align: center;
}

.anchor-text-no-underline {
  text-decoration: none;
  &:link, &:visited, &:hover, &:active { 
    text-decoration: none;
  }
}

body {
  font-family: $sans-serif;
}

nav {
  color: $white;
  @include anchor-text($white);
}

.line-height-250 {
  line-height: 250%;
}
