.m-auto-all {
  margin: auto;
}

.m-0-all {
  margin: 0;
}

.m-1-all {
  margin: 1rem;
}

.m--2-top{
  top: 0;
  margin: -2rem;
}

.m-0-top {
  margin-top: 0;
}

.m-1-top {
  margin-top: 1rem;
}

.m-2-top {
  margin-top: 2rem;
}

.m-1-bottom {
  margin-bottom: 1rem;
}

.m-5-bottom {
  margin-bottom: 5rem;
}

.p-1-all {
  padding: 1rem;
}

.p-1-top {
  padding-top: 1rem;
}

.p-2-top {
  padding-top: 2rem;
}

.p-1-bottom {
  padding-bottom: 1rem;
}
