.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.inline-list {
  li {
    display: inline;
  }
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}
