.display-inline {
  display: inline;
}

.display-block {
  display: block;
}

.align-centre {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.no-bullet {
  list-style-type: none;
  padding-left: 0;
}

.inline-list {
  li {
    display: inline;
  }
}

.no-wrap {
  white-space: nowrap;
}

.hidden {
  display: none;
}

.fake-link:hover {
  cursor:pointer;
}
