%li
  = link_to abode.title, abode
  %p(itemprop="photo")
    - unless abode.main_image.nil?
      = image_tag abode.main_image.file_name.url,
        width: "120rem", alt: "Abode Image"
  %p(itemprop="address")= abode.location
