%li
  = abode.title
  %p(itemprop="photo")
    - unless abode.abode_images.empty?
      = image_tag abode.abode_images[0].file_name.file.file,
        width: "120rem", alt: "Abode Image"
  %p(itemprop="address")= abode.location
