%p.notice
  = notice
%p.alert
  = alert
  - [@abode, @squatter].each do |model|
    - @object = model unless !model.present?
  - if !notice.present? && alert.present? && @object.present? && @object.errors.any?
    %strong The form contains #{"error".pluralize(@object.errors.count)}.
    %ul
      - @object.errors.full_messages.each do |msg|
        %li= msg
