%header.row-no-right-margin.m-5-bottom(role="banner")
  .header-container
    #main-logo.display-block.text-centre
      %span
        OccupyB
        %i.icon-CircledN>n
        B
    = render partial: "layouts/navigation"
