%header.row-no-right-margin.m-5-bottom(role="banner")
  .header-container
    #main-logo.display-block.text-centre
      %span
        OccupyB
        %i.icon-CircledN>n
        B
  %nav(role="menu")
    %ul.inline-list.no-bullet
      %li
        = link_to "Home", root_path
      - if current_squatter
        %li
          = link_to "Log Out", destroy_squatter_session_path, method: :delete
      - else
        %li
          = link_to "Sign Up", new_squatter_registration_path
        %li
          = link_to "Log In", new_squatter_session_path
